<div class="layout-row" >
  <section class="layout-column align-items-center justify-content-center" >
      <input type="text" data-test-id="app-input-name" required placeholder="Name" [(ngModel)]="name"/>
      <input data-test-id="app-input-amount" type="number" placeholder="Amount" [(ngModel)]="amount"/>
  </section>
  <section class="layout-row justify-content-center align-items-center">
      <button data-test-id="add-button" class="w-30" (click)="onSubmit()">Add</button>
      <button data-test-id="settleup-button" style="background: blue;" class="w-60" (click)="onSettleUp()">Settle Up</button>
  </section>
</div>
